{% load static %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'inicio' %}"><span class="fw-bolder text-primary">Ludwing's Website</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Home
                    <i class="bi bi-house-door-fill"></i>
                </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'resume' %}">Resume
                    <i class="bi bi-file-earmark-person-fill"></i>
                </a></li>
                <li class="nav-item"><a class="nav-link" href="/proyectos">Projects
                    <i class="bi bi-file-earmark-code-fill"></i>
                </a></li>
                <li class="nav-item"><a class="nav-link" href="/contacts">Contact
                    <i class="bi bi-envelope-fill"></i>
                </a></li>
                <li class="nav-item"><a class="nav-link" href="/locations">Location
                    <i class="bi bi-geo-alt-fill"></i>
                </a></li>
                <li class="nav-item"><a class="nav-link" href="/Characters">My Favorite Songs
                    <i class="bi bi-file-music-fill"></i>
                </a></li>
            </ul>
        </div>
    </div>
</nav>
